Homestead.yaml
Homestead.json
.env.*.php
.env.php
.env.example
.idea
/nbproject/*
/_DB/*
_ide_helper.php
/.idea/*
/public/vendor/*
*.sublime-project
*.sublime-workspace
public/uploads/
/node_modules/
*.todo
*.rar
*.zip
