/**
 * Site Variables
 *
 * @package 	adr-dgda
 * @author  	Mayeenul Islam
 */

$base-color: 		#2c3e50;
$secondary-color: 	#34495e;
$link-color:		$base-color;
$hover-color:		$secondary-color;

$black-color:		#333;
$red-color:			#e53d37;
