@charset "utf-8";
/* CSS Document */
.form-group {
	margin-bottom: 10px;
}
legend {
	margin-bottom: 10px;
}
#divAjaxLoading {
	background: url("../images/ajax_loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #FF0000;
	font-weight: bold;
	height: 100px;
	padding: 25px 0 0 110px;
}
.error {
	color: #FF0000;
}
.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-top: 7px;
	width: 200px;
	height: 200px;
}
.cropit-preview-image-container {
	cursor: move;
}
.image-size-label {
	margin-top: 10px;
}
 
