.navbar-inverse {
	background-color: #006f00;
	border-color: #37474f;
}
.sidebar {
	background-color: #025b2a !important;
	color: #fff;
	display: none;
	position: relative;
	width: 100%;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
	background-color: #108d49 !important;
	color: #fff;
}
.theme-wrapper {
	background: url('assets/images/header-lft-eng.png') center repeat;

}
.checker span {
	border: 2px solid white !important;
	color: white !important;;
	display: inline-block !important;;
	position: relative !important;;
	text-align: center !important;;
}
